*{
  background-color: aquamarine;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

body{
  align-items: center;
}

.puzzle {
  padding: 1%;
  width: 60%;
  height: 80vh;
  display: grid;
  background-color: rgb(255, 0, 89);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  gap: 1%;
  margin-bottom: 2%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
